<meta property="og:image" content="http://{{ imageUrl}}"/>
<header>
    {% load staticfiles %}
	<link href="{% static "bootstrap-3.1.1-dist/css/bootstrap.css" %}" rel="stylesheet" />
    
    <style>
		div.container{
			padding-top: 50px;
		}
		div.jumbotron {
			padding-top: 48px;
			padding-bottom: 48px;
		}
	</style>
</header>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Derp Team</h1>
        <p >Hey <b>{{ you }}</b>, your friend <b>{{ friend }}</b> has added someone to be on your team! Lucky you!</p>
        <img class="img-thumbnail" src="http://{{ imageUrl}}" />
  	</div>


</div>

   <!-- Main component for a primary marketing message or call to action -->
      
</body>
