
<header>
    {% load staticfiles %}
	<link href="{% static "bootstrap-3.1.1-dist/css/bootstrap.css" %}" rel="stylesheet" />
    
    <style>
		div.container{
			padding-top: 50px;
		}
		div.jumbotron {
			padding-top: 48px;
			padding-bottom: 48px;
			background-color:
		}
	</style>
</header>
<body>




<div class="container">
    <div class="jumbotron">
    	
        <h1 >Derp Team</h1>
        <h2> <small> Hey <b>{{ you }}</b>, your friend <b>{{ friend }}</b> has added someone to be on your team! Lucky you!</small></h2>
        <div class="span12 pagination-centered"><img class="img-thumbnail" src="http://{{ imageUrl}}" /></div>
        
        <h2>	{{title}}</h2>
		<h2> <small> {{caption}} </small></h2>

  	</div>


</div>

   <!-- Main component for a primary marketing message or call to action -->
      
</body>
